h2{
    font-family: "Comic Sans MS", "Comic Sans", cursive;
}
h1{
    color: crimson;
}
h2{
    color: #00FBFF;
}
body{
    background-image:url("imgs/SPACE.jpg");
}
a{
    font-family: "Comic Sans MS", "Comic Sans", cursive;
}
a{
    color: azure;
}